.sidebar {
  width: 220px;

  color: rgb(118, 117, 117);
  padding: 20px;
}



.menu ul {
  list-style: none;
  padding: 0;

}

.menu li  {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.menu li img{
  margin-right: 20px;
}
.menu li:hover {
  background-color:  #f84c84;
  color: white;
}
